* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Stratos;
    font-style: normal;
    font-weight: 400;
    src: local('Stratos'),
        url('Stratos/Web fonts/stratosskyengweb-black.woff2') format('woff2'),
        url('Stratos/Web Fonts/stratosskyengweb-black.woff') format('woff');
}

body {
    font-family: Stratos, sans-serif;
    background-color: #004980;
}

.win-img {
    padding-top: 30px;
    padding-left: 184px;
}

.win-text {
    color: #004980;
    font-size: 40px;
    line-height: 48px;
    padding-top: 4px;
    padding-left: 112px;
}

.div-lose {
    position: fixed;
    z-index: 9;
    margin: 20px;
    background-color: #c2f5ff;
    height: 459px;
    width: 480px;
    border-radius: 12px;
    margin-left: calc(50% - 240px);
    margin-top: 229px;
}

.lose-img {
    padding-top: 30px;
    padding-left: 184px;
}

.lose-text {
    color: #004980;
    font-size: 40px;
    line-height: 48px;
    padding-top: 4px;
    padding-left: 112px;
}

.time-spent-title {
    color: #000;
    font-size: 24px;
    line-height: 32px;
    padding-top: 28px;
    padding-left: 125px;
}

.time-spent {
    color: #000;
    font-size: 64px;
    line-height: 72px;
    padding-top: 10px;
    padding-left: 163px;
}

.screen2-hat {
    display: flex;
    justify-content: space-between;
}

.timer-name {
    font-weight: 28px;
    font-size: 16px;
    line-height: 32px;
    color: #fff;
}

.timer-name-div {
    display: flex;
}

.button-again-win {
    box-sizing: border-box;
    background-color: #7ac100;
    color: #fff;
    width: 246px;
    height: 50px;
    border: none;
    border-radius: 12px;
    font-size: 24px;
    line-height: 32px;
    margin-top: 40px;
    margin-left: 117px;
}

.div-win {
    position: fixed;
    z-index: 9;
    margin: 20px;
    background-color: #c2f5ff;
    height: 459px;
    width: 480px;
    border-radius: 12px;
    margin-left: calc(50% - 240px);
    margin-top: 229px;
}

.body-center {
    display: flex;
    justify-content: center;
    align-content: center;
}

.main {
    background-color: #c2f5ff;
    height: 459px;
    width: 480px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 158px;
}

.h1 {
    color: #004980;
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    margin-top: 52px;
}

.d123 {
    display: flex;
    gap: 24px;
}

.button {
    box-sizing: border-box;
    width: 98px;
    height: 98px;
    background-color: #fff;
    border-radius: 12px;
    border: none;
    margin-top: 48px;
    color: #0080c1;
    font-weight: 97px;
    font-size: 64px;
    line-height: 72px;
}

.button-start {
    box-sizing: border-box;
    background-color: #7ac100;
    width: 246px;
    height: 50px;
    border-radius: 12px;
    border: none;
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    margin-top: 67px;
}

.screen2-hat {
    display: flex;
    justify-content: space-between;
}

.timer-name {
    font-weight: 28px;
    font-size: 16px;
    line-height: 32px;
    color: #fff;
}

.timer-name-div {
    display: flex;
}

.min {
    margin-top: 22px;
    margin-left: 61px;
}

.sec {
    margin-top: 22px;
    margin-left: 57px;
}

.timer {
    color: #fff;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    margin-left: 35px;
}

.button-again {
    box-sizing: border-box;
    background-color: #7ac100;
    color: #fff;
    width: 246px;
    height: 50px;
    border: none;
    border-radius: 12px;
    font-size: 24px;
    line-height: 32px;
    margin-right: 23px;
    margin-top: 52px;
}

.cards-first {
    margin: 35px 23px 15px 26px;
}

.cards {
    margin: 15px 23px 15px 26px;
}

.card-row {
    display: flex;
    gap: 15px;
}

.cards-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
